/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run singleron-RD/accurascoperna -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input        = 'https://raw.githubusercontent.com/singleron-RD/test_data/master/accurascope.rna.5bp/samplesheet.csv'
    // chr21 + MT
    // fasta        = 'https://raw.githubusercontent.com/singleron-RD/test_genome/master/human.GRCh38.99.21.MT/human.GRCh38.99.21.MT.fasta'
    // gtf          = 'https://raw.githubusercontent.com/singleron-RD/test_genome/master/human.GRCh38.99.21.MT/human.GRCh38.99.21.MT.gtf'
    // MT only
    fasta        = 'https://raw.githubusercontent.com/singleron-RD/test_genome/master/human.GRCh38.99.MT/human.GRCh38.99.MT.fasta'
    gtf          = 'https://raw.githubusercontent.com/singleron-RD/test_genome/master/human.GRCh38.99.MT/human.GRCh38.99.MT.gtf'
    genome_name  = 'human.GRCh38.99.21.MT'
    keep_attributes = 'gene_biotype=protein_coding,lncRNA,antisense'

}
